.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  align-items: center;
}
