:global(.ui) {
  .comment {
    overflow: auto;
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-bottom: 10px;
  }

  .avatar img {
    width: 100%;
    padding-right: 10px;
  }
  
  .metadata {
    font-size: 10px;
    margin-left: 5px;
    color: rgba(0,0,0,.4);
  }
}
